* {
    margin: auto;
    font: Helvetica;
    font-size: 20px;
    padding: 5px;
}

body {
    background-color: #f5f293;
}

section {
    background-color: #76abe9;
    width: 500px;
    height: 460px;
    border-radius: 10px;
    border: 2px solid black;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.37);
}

h1 {
    text-align: center;
    font-size: 50px;
    background-color: white;
    border-radius: 5px;
    width: max-content;
    border: 2px solid black;
    margin-bottom: 10px;
}

button {
    width: 100px;
    height: 50px;
    font-size: 25px;
    background-color: rgb(185, 212, 212);
}

.hide {
    display: none;
}

tr {
    height: 82px;
    margin: 0px 0px;
}

td {
    border: 1px solid black;
    width: 60px;
    margin: 0px 0px;
    font-size: 60px;
}

table {
    background-color: white;
    padding: 0px;
}

#start {
    margin-top: 100px;
}

#message {
    font-size: 30px;
    margin-bottom: 10px;
}